.details nav .logo {
    display: block;
}

.details nav {
    position: relative;
}

.details main {
    padding-top: 48px;
}

.details .detail-row {
    display: flex;

}

.details section {
    margin-bottom: 24px;
}

.details section h2 {
    opacity: 0.6;
}

.details .detail-left {
    width: 100px;
}

.details .detail-right {
    margin-left: 24px;
}

@media screen and (min-width: 768px) {
	.details main {
	display: flex;
    flex-wrap: wrap;
}

    .details section {
        margin-bottom: 72px;
        margin-right: 24px;
        width: 337px;
    }

    .details .detail-left {
    width: 125px;
}
}

@media screen and (min-width: 1024px) {

    .details section {
        width: 460px;
    }
}

@media screen and (min-width: 1440px) {
    .details section {
        width: 582px;
    }
}
