.header h1 {
    margin-top: 38px;
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 39px;
}


/*.header p.instructions {
    margin-top: 48px;
}*/



.header .workswell {
    margin-top: 29px;
}

.header a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.header a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.3s;
}

.header a:hover:after {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.header .instructions-long {
    max-width: 450px;
    cursor: pointer;
}

.header .instructions-long h1 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.header .instructions-long p {
    height: 0;
    margin-top: -2px;
    margin-bottom: 2px;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.header .instructions-long a {
    /* 2px margin so the underline isn't cut off by overflow: hidden; from .red-square-method */
    margin-bottom: 2px;
}

.header .instructions-long p:after {
    content: " below.";
}

.header .instructions-long.open a:after {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.header .red-square-method {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
    /* -2px to compensate the 2px margin from .instructions-long a */
    margin-bottom: -2px;
}

.header .red-square-method.active {
    height: auto;
}

.header .html-method {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
    /* -2px to compensate the 2px margin from .html-method a */
    margin-bottom: -2px;
}

.header .html-method.active {
    height: auto;
}

.header .html-method a {
    margin-bottom: 2px;
    margin-top: 24px;
}

.header .html-method p {
    margin-top: 2px;
}