.offline-notification {
    display: flex;
    position: fixed;
    top: 24px;
    left: 50%;
    width: 138px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    transform: translateX(-50%);
    padding: 16px 24px;
    animation: notifyFadeIn 0.4s ease-out;
    animation-fill-mode: both;
}

@keyframes notifyFadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) none;
    }
}

@keyframes notifyFadeOut {
    from {
        opacity: 1;
        transform: translateX(-50%) none;
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translate3d(0, -100%, 0);
    }
}

.offline-notification .text {
    display: block;
    margin-left: 24px;
    line-height: 16px;
}

.offline-notification .point {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #f40022;
    border-radius: 8px;
    transition: background-color 0.4s;
}

.offline-notification.online {
    animation: notifyFadeOut 0.4s ease-out;
    animation-delay: 2s;
}

.offline-notification.online .point {
    background-color: #66d878;
}