html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    background-color: #04010A;
    color: #fff;
    font-family: "Open Sans";
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

::-moz-selection {
    /* Code for Firefox */
    color: #04010A;
    color: #fff;
    /*background-color: #f40022;*/
    background-color: rgba(244, 0, 34, 0.99);
}

::selection {
    color: #04010A;
    color: #fff;
    /*background: #f40022;*/
    background-color: rgba(244, 0, 34, 0.99);
}

.offline-notification {
    display: flex;
    position: fixed;
    top: 24px;
    left: 50%;
    width: 138px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    transform: translateX(-50%);
    padding: 16px 24px;
    animation: notifyFadeIn 0.4s ease-out;
    animation-fill-mode: both;
}

@keyframes notifyFadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) none;
    }
}

@keyframes notifyFadeOut {
    from {
        opacity: 1;
        transform: translateX(-50%) none;
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translate3d(0, -100%, 0);
    }
}

.offline-notification .text {
    display: block;
    margin-left: 24px;
    line-height: 16px;
}

.offline-notification .point {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #f40022;
    border-radius: 8px;
    transition: background-color 0.4s;
}

.offline-notification.online {
    animation: notifyFadeOut 0.4s ease-out;
    animation-delay: 2s;
}

.offline-notification.online .point {
    background-color: #66d878;
}

nav {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
}

nav .logo {
    display: block;
    margin-right: 18px;
    width: 24px;
    height: 24px;
}

nav .logo svg {
    display: none;
}

nav .logo svg.at24px {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    width: 100px;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    line-height: 24px;
}

.header h1 {
    margin-top: 38px;
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 39px;
}


/*.header p.instructions {
    margin-top: 48px;
}*/

.track-container {
    margin-top: 19px;
    width: 100%;
    max-width: 345px;
    height: 48px;
    display: flex;
}

.track-input {
    position: relative;
    flex-grow: 1;
    border: 1px solid #fff;
}

.track-input .input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding-top: 15px;
    /* 1px is already taken from the border of .track-input*/
    padding-left: 19px;
    /* 1px is already taken from the border of .track-input*/
}

.track-input .input:focus {
    outline: none;
}

.track-input .ghost {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.track-input .ghost .id {
    font-size: 11px;
    line-height: 16px;
    opacity: 0.3;
}

.track-input:focus {
    outline: none;
}

.track-pixel {
    width: 16px;
    height: 16px;
}

.track-copy {
    width: 100px;
    border: 1px solid #fff;
    border-left: none;
    background: none;
    color: #fff;
}

.track-copy {
    background: #fff;
    color: #04010A;
    background: none;
    color: #fff;
    transition: transform 0.2s ease;
    font-size: 16px;
    font-family: "Open Sans";
}

.track-copy:hover {
    background: #fff;
    color: #04010A;
}

.track-copy:focus {
    outline: none;
}

.track-copy:active {
    transform: scale(0.95);
}

.header .workswell {
    margin-top: 29px;
}

.header a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.header a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.3s;
}

.header a:hover:after {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.header .instructions-long {
    max-width: 450px;
    cursor: pointer;
}

.header .instructions-long h1 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.header .instructions-long p {
    height: 0;
    margin-top: -2px;
    margin-bottom: 2px;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.header .instructions-long a {
    /* 2px margin so the underline isn't cut off by overflow: hidden; from .red-square-method */
    margin-bottom: 2px;
}

.header .instructions-long p:after {
    content: " below.";
}

.header .instructions-long.open a:after {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.header .red-square-method {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
    /* -2px to compensate the 2px margin from .instructions-long a */
    margin-bottom: -2px;
}

.header .red-square-method.active {
    height: auto;
}

.header .html-method {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
    /* -2px to compensate the 2px margin from .html-method a */
    margin-bottom: -2px;
}

.header .html-method.active {
    height: auto;
}

.header .html-method a {
    margin-bottom: 2px;
    margin-top: 24px;
}

.header .html-method p {
    margin-top: 2px;
}

.html-track-container {
    margin-top: 19px;
    width: 100%;
    max-width: 345px;
    height: 48px;
    display: flex;
    padding-bottom: 6px;
}

.html-track-container .input {
    position: relative;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-size: 11px;
    /* padding-top: 15px; */
    padding: 0;
    flex-grow: 1;
    line-height: 16px;
    overflow: hidden;
    padding-left: 19px;
    font-family: monospace;
    background: none;
    color: #fff;
}

.html-track-container .input:focus {
    outline: none;
}

.html-track-container .track-copy {
    min-width: 96px;
}

.other-client-link {
    margin-top: 24px;
}

.other-client-link.open:after {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.opens h1 {
    margin-top: 48px;
    font-size: 24px;
}

.opens #opens {
    padding-top: 2px;
}

.opens .open {
    display: flex;
    margin: 24px 0;
}

.opens .open.animate {
    animation: openIn 1s;
}

@keyframes openIn {
    from {
        margin-top: -120px;
        opacity: 0;
    }
    to {
        margin-top: 24px;
        opacity: 1;
    }
}

@media screen and (min-width: 500px) {
    @keyframes openIn {
        from {
            margin-top: -90px;
            opacity: 0;
        }
        to {
            margin-top: 24px;
            opacity: 1;
        }
    }
}

.opens .open .number {
    width: 60px;
    opacity: 0.3;
}

.opens .open .text {
    flex-grow: 1;
}

.opens .open .other {
    flex-grow: 1;
    opacity: 1;
    color: #9a999d;
    /*#fff @0.6 opacity; the text appears thinner*/
}

.opens .open .details-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #9a999d;
    /*#fff @0.6 opacity*/
    opacity: 1;
    transition: color 0.2s;
}

.opens .open .details-link:hover {
    opacity: 1;
    color: #fff;
}

.opens .open .details-link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    transition: color 0.2s;
    background-color: #9a999d;
}

.opens .open .details-link:hover:after {
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
        line-height: 30px;
        padding: 0 60px;
    }
    main {
        display: flex;
    }
    nav {
        margin-top: 60px;
        display: flex;
        position: fixed;
    }
    nav .logo {
        display: block;
        margin-right: 62px;
        width: 30px;
        height: 30px;
    }
    nav .logo svg {
        display: none;
    }
    nav .logo svg.at24px {
        display: none;
    }
    nav .logo svg.at30px {
        display: block;
    }
    nav li {
        width: auto;
        margin-left: 30px;
    }
    nav li:first-child {
        margin-left: 0;
    }
    main {
        padding-top: 90px;
    }
    section.opens {}
    section.header {
        margin-right: 30px;
        width: 450px;
    }
    .fix-container {
        position: fixed;
    }
    .header h1 {
        line-height: 60px;
        font-size: 40px;
        max-width: 345px;
        margin-bottom: 53px;
        margin-top: 194px;
    }
    .header .instructions-long h1 {
        font-size: 18px;
        line-height: 30px;
    }
    .header .instructions-long p:after {
        content: " on the right.";
    }
    .track-container {
        margin-top: 23px;
        height: 60px;
    }
    .track-copy {
        font-size: 18px;
    }
    .track-input .input {
        padding-top: 20px;
        padding-left: 20px;
    }
    .track-input .ghost {
        padding: 20px;
    }
    .track-input .ghost .id {
        font-size: 12px;
    }
    .header .workswell {
        margin-top: 8px;
    }
    .other-client-link {
        margin-top: 30px;
    }
    .header .html-method p {
        margin-top: 3px;
    }
    .html-track-container {
        margin-top: 22px;
        height: 60px;
    }
    .html-track-container .input {
        font-size: 12px;
    }
    .opens .open {
        margin: 30px 0;
    }
    .opens h1 {
        margin-top: 215px;
        font-size: 27px;
    }
}

@media screen and (min-width: 1024px) {
    .header h1 {
        max-width: 450px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        padding-left: 152px;
    }
    section.header {
        margin-right: 152px;
        width: 450px;
    }
}

@media screen and (min-width: 1920px) {
    body {
        padding-left: 338px;
    }
    section.header {
        margin-right: 152px;
    }
}

.details nav .logo {
    display: block;
}

.details nav {
    position: relative;
}

.details main {
    padding-top: 51px;
}

.details .detail-row {
    display: flex;
}

.details section {
    margin-bottom: 24px;
}

.details section h2 {
    opacity: 0.6;
}

.details .detail-left {
    width: 100px;
}

.details .detail-right {
    margin-left: 24px;
}

.details h1 {
    font-size: 24px;
    margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
    .details main {
        display: block;
        padding-top: 65px;
    }
    .details h1 {
        font-size: 27px;
        margin-bottom: 33px;
    }
    .details .details-container {
        display: flex;
        flex-wrap: wrap;
    }
    .details section {
        margin-bottom: 60px;
        margin-right: 24px;
        width: 337px;
    }
    .details .detail-left {
        width: 125px;
    }
}

@media screen and (min-width: 1024px) {
    .details section {
        width: 460px;
    }
}

@media screen and (min-width: 1440px) {
    .details section {
        width: 582px;
    }
}
